.article {
  margin-bottom: 40px;

  .article__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .article__image {
    width: 100%;
    max-width: 700px;
    height: 0;
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-gray;
    margin-bottom: 20px;

    &:hover {
      opacity: 0.9;
    }
  }

  .article__content {
    padding: 0;
    width: 100%;
    max-width: 700px;
    background: none;
    box-shadow: none;
    margin: 0;
  }

  .article__title {
    font-size: 26px;
    margin-bottom: 10px;

    a {
      color: $dark;
      text-decoration: none;

      &:hover {
        color: $brand-color;
      }
    }
  }

  .article__meta {
    font-size: 13px;
    text-transform: uppercase;
    color: $gray;
  }

  .article__footer,
  .article-tags {
    display: none; // Hide read-more & tags for minimalism
  }

  @media only screen and (max-width: $tablet) {
    .article__title {
      font-size: 22px;
    }
  }

  @media only screen and (max-width: $mobile) {
    .article__title {
      font-size: 20px;
    }
  }
}
