.lates-title {
  position: relative;
  margin-bottom: 80px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    height: 1px;
    background: $light-gray;
  }

  &:after {
    width: calc(50% - 90px);
    left: 0;
  }

  &:before {
    width: calc(50% - 90px);
    right: 0;
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 40px;
    
    &:after,
    &:before {
      width: calc(50% - 70px);
    }
  }
}






/* Position the toggle button in the top-right corner */
#toggle-container {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000;
}

#toggle {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

#toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

#toggle span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 50px;
  transition: background-color 0.3s;
}

#toggle span:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s;
}

/* Style for night mode */
body.night {
  background-color: #333;
  color: white;
}

body.night #toggle span {
  background-color: #444;
}

body.night #toggle span:before {
  transform: translateX(26px);
}