<!-- begin article -->
<div class="article">
  <div class="container">
    <div class="article__wrapper">
      {% if post.image %}
      <a
        href="{{post.url | prepend: site.baseurl}}"
        class="article__image"
        style="background-image: url({{site.baseurl}}/images/{{post.image}})"
      ></a>
      {% endif %}

      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="article__meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {% assign date_format = site.minima.date_format | default: "%B %-d,
            %Y" %} {{ post.date | date: date_format }}
          </time>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end article -->
